<div class="relative w-full max-w-sm mx-auto">
    <!-- Search Input -->
    <input type="text" placeholder="Select a location..."
        class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="searchQuery" (click)="onInputFocus()" (input)="filterLocations()" />

    @if(showDropdown && filteredLocations.length > 0) {
    <ul>
        @for(item of filteredLocations; track $index){
        <li class="w-full p-3 text-gray-500 bg-white border border-gray-300 shadow-lg" (click)="selectLocation(item)">
            {{item}}</li>
        }
    </ul>
    }
</div>